
.mini-tabs.main-tabs {
	.mini-tabs-table {
		.mini-tabs-scrollCt {
			background: lighten($main-tab-background,5%);//#f3f3f3;
			border-width:0;
			border-bottom-width:1px;
			border-color:$main-tab-border-color;

			//tabs导航按钮，tabs工具按钮
			.tabs-tool-button {
				display:inline-block;
				width:24px;
				height:24px;    
				text-align:center;
				cursor:pointer;
				vertical-align:middle;
				color:#575765;
				background:none;
				font: normal normal normal 16px/24px FontAwesome;
				border-color:transparent;
				&:hover {
					background:$main-tabs-tool-button-background;
					border: 1px solid darken($main-tabs-tool-button-background, 5%)
				}
			}

			//tabs header, 标签
			//--------------------------
			.mini-tabs-headers.mini-tabs-position-top .mini-tabs-header {
				margin-top:2px;
			}
			
			.mini-tabs-headers {
				.mini-tabs-header {
					.mini-tabs-space {
						div {
							width:4px;
						}
					}
					.mini-tabs-space,
					.mini-tabs-space2 {
						border-bottom-color:$main-tab-border-color;
					}
					.mini-tab {
						padding:6px 14px 7px 14px;
						border-radius: 5px 5px 0 0;
						background: $main-tab-background;
						border-color:$main-tab-border-color;
						color: #575765;
						&:hover,
						&.mini-tab-hover {
							background: linear-gradient(to bottom, rgba(#fff,0), rgba(darken($main-tab-background, 5%),1));
							color:#000;
						}
						
						.mini-tab-text {
							line-height:13px;
							padding:3px 4px 3px 4px;    
						}
						
						.mini-tab-icon {
							&.mini-iconfont {
								font-size:13px;
								line-height: 16px;
								text-align:center;
								margin-right:2px;
							}
						}
						
						.mini-tab-close {
							margin-top:3px;
							background: url(../images/tabs_icons.png) no-repeat -34px -2px;
							vertical-align:top;
							position:relative;
							left:2px;
							&:before {
								display:none;
							}
							&:hover {
								background-color:transparent;
							}
						}

						&.mini-tab-active {
							position:relative;
							border-bottom: 0;
							border-top-color:transparent;
							/*font-weight:bold;*/
							color:#000;
							background:$main-tab-active-background;
							&:before {
								content: "";
								position: absolute;
								width: 100%;
								height: 2px;
								left: 0;
								top: 0px;
								background: $main-tab-active-top-background;
							}
							&:hover,
							&.mini-tab-hover {
								background: linear-gradient(to bottom, rgba(#fff,0), rgba($main-tab-active-background,1));
							}
						}
			
					}

					.mini-tabs 
					.mini-tabs-space, 
					.mini-tabs-space2 {
						background:transparent;
						border-color:$main-tab-border-color;
					}
				}
			}
			//--------------------------
			
	
			//tabs导航，左右按钮，下拉菜单
			//--------------------------------------
			.mini-tabs-nav,
			.mini-tabs-leftnav {
				top: 6px;
			}

			/* arrow */
			.mini-tabs-leftButton, .mini-tabs-rightButton, .mini-tabs-tabmenu {
				@extend .tabs-tool-button;
				background:none;
				font: normal normal normal 16px/24px FontAwesome;
				width: 24px;
				height: 24px;
				border-color:transparent;
				text-align:center;
			}
			.mini-tabs-leftButton:before {
				content: "\f0d9";//\f048
			}
			.mini-tabs-rightButton:before {
				content: "\f0da";//\f051
			}
			.mini-tabs-tabmenu:before {
				content: "\f0d7";
			}
			//--------------------------------------
			
			//tab额外按钮组
			//--------------------------------------
			.mini-tabs-buttons {
				padding-top:0;
				z-index: $zindex-sidebar - 50;
				div {
					border-left:1px solid $main-tab-border-color;       
					height:35px; 
					padding:6px 7px 4px 7px;
				}
			}    
			//--------------------------------------
		}

		//tabs-bodys
		//-----------------------------------
		.mini-tabs-bodys {
			border-color:transparent;
			background:transparent;
		}
		//-----------------------------------

		
		//字体设置, 好像不需要
		.mini-tabs-body,
		.mini-tab-text {
			font-family:微软雅黑;
			font-size:13px;     
		}
	}
	
}
